.post {
  font-size: 18px;
  line-height: 1.5;
  display: inline-block;
  width: 100%;
  margin-left: 15%;
  margin-top: 10%;
}
.post_form{
  margin-top: 50px;
  margin-bottom: 20px;
}
/* ---------------------------- */
/* --- ハートアニメーション --- */
/* ---------------------------- */
@keyframes heartAnimation {
  0% {
    /* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }

  10% {
    transform: scale(0.7);
  }

  30% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.5);
  }

  100% {
    /* もとのサイズに戻す */
    transform: scale(1.0);
  }
}

.LikesIcon-fa-heart {
  font-size: 30px;
}

.LikesIcon-fa-heart.heart {
  /* heartAnimationアニメーションを200ミリ秒かけて実行する */
  animation: heartAnimation .2s;
  /* アイコン色を黒から赤へ変更する */
  color: #e2264d;
}

/* ボタン共通設定 */
.btn04 {
  /*線の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  padding: 10px 30px;

  color: #333;
  border: 1px solid #ccc;
  text-decoration: none;
  outline: none;
  /*はみ出す背景色を隠す*/
  overflow: hidden;
}

/*hoverした際のボタンの形状*/
.btn04:hover {
  color: #ccc;
  border-color: transparent;
  /*色の変化を遅らせる*/
  transition-delay: .6s;
}

/*線の設定*/
.btn04 span {
  display: block;
  z-index: 2;
}

/*== 線から塗に変化（左から右） */

/*線の設定*/
.borderleft span::before,
.borderleft span::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  width: 0;
  height: 1px;
  /*線の形状*/
  background: #333;
  /*アニメーションの設定*/
  transition: all .3s;
}

/*左上線*/
.borderleft span::before {
  left: 0;
  top: 0;
}

/*左下線*/
.borderleft span::after {
  left: 0;
  bottom: 0;
}

/*hoverをすると線が伸びる*/
.borderleft:hover span::before,
.borderleft:hover span::after {
  width: 100%;
}

/*背景の設定*/
.borderleft::before {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  /*背景の形状*/
  height: 100%;
  width: 0;
  background: #333;
  /*アニメーションの設定*/
  transition: all .3s;
}

/*hoverをすると背景が伸びる*/
.borderleft:hover::before {
  width: 100%;
  /*0.4秒遅れてアニメーション*/
  transition-delay: .4s;
}

a:hover {
  text-decoration: none;
}
.post-title {
  color: rgb(146, 141, 141);
  position:  absolute;        /* 要素の配置方法を指定 */
  font-size: 210%;
  text-align: center; 
  margin-top: 70px;
  margin-left: 140px;
}

.img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 50px;
  height: 50px;
}

 
body, #wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  resize: vertical;
}

footer {
  margin-top: auto;
}

textarea {
  resize: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

.stuff {
  width: 500px;
}

.textBox {
  position: relative;
  width: 70%;
  padding-top: 10px;
  height: auto;
  display: inline-flex;
  margin-bottom: 3vh;
}

.textBox .text {
  font-weight: 500;
  width: calc(100% - 2vw);
  height: auto;
  padding-left: 0.5vw;
  background-color: transparent;
  color: black;
  position: relative;
  bottom: 0px;
  outline: none;
  border-style: solid;
  border-color: #E3E7EA;
  border-width: 0px 0px 2px 0px;
  font-size: 20px;
  -webkit-transition: border-color 0.45s linear;
  transition: border-color 0.45s linear;
}

.textBox>textarea.text:focus {
  border-color: #000000;
}

.textBox .labelch {
  opacity: 0.1;
  pointer-events: none;
  z-index: 1;
  color: #C0C0C0;
  position: absolute;
  padding-left: 0.5vw;
  bottom: 3px;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition-property: opacity bottom font-size;
  transition-property: opacity bottom font-size;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
  transition-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
}

.textBox .error {
  position: absolute;
  margin-top: 48px;
  width: 100%;
  color: #e74c3c;
  text-align: center;
}

.textBox>textarea.text:focus~.labelch, .textBox>textarea.text:not([value=""])~.labelch {
  opacity: 1;
  z-index: 1;
  top: 0;
  font-size: 12px;
  position: absolute;
}

.textBox>textarea.text:focus~.labelch {
  color: #000000;
}

.textBox ::-webkit-textarea-placeholder {
  /* Chrome/Opera/Safari */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

.textBox ::-moz-placeholder {
  /* Firefox 19+ */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

.textBox :-ms-textarea-placeholder {
  /* IE 10+ */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

.textBox :-moz-placeholder {
  /* Firefox 18- */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}
.check_icon {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  50px;       /* ※縦横を同値に */
  height: 50px;       /* ※縦横を同値に */
  margin: 10px;
}
/* detailのtitileの上下余白と太字 */
.post_title{
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
.user_data{
  text-align: left;
}
.post_data{
  text-align: right;
}
.name{
  align-items: flex-end;
  text-align: left;
}
.list-preview{
  display: inline-block;
}

.kakomi-smart2 {
  display:inline-block;
  margin: 2.5em ;
  padding: 35px ;
  width: 17%;
  height: 17%;
  color: #555555; /* 文字色 */
  background-color: #fff;
  border: 4px double #a7a0a2; /* 枠線の太さ・色 */
  box-shadow: 2px 2px 2px #ccc;/* 影の色 */
  text-align: center;
 }

 .list-preview{
   text-align: center;
 }

 .cong_icon{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  120px;       /* ※縦横を同値に */
  height: 120px;       /* ※縦横を同値に */
 }

 .flex {
  display: flex; /*横並び*/
  margin: 50px;
}
.flex .profile_icon {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 350px;
  height: 350px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.flex .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.flex .profile-name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 50px;
}
.flex .profile-bio {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 25px;
}

/* プロフィールボタン */
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

.post-time{
  margin-left: 500px;
}
.m_p {
  height:700px;
  width:auto;
  background-size: auto 120%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px; padding: 0px;
  background-image: url('../img/top.jpg');
  
}

.top_curent{
  position: absolute;
  top: 70%;
  left: 25%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 100px;
  text-align: center;
  font-size: 280px;
  color: white;
  font-weight: bolder;
  font-family: Sharoa Pro Ultra Italic  
}




/* .container {
  height:700px;
  width:auto;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/top.jpg');
  } */
/* detailのラベルカラー */
.post_label{
  color: #444974d0;
}
/* 余白 */
.post_margin_bottom{
  margin-bottom: 20px;
}
.post_created_at{
  color: #7a7ca3bd;
  text-align: right;
  margin-top: 20px;
}
.item_like {
  float: left;
  padding: 0px;
  text-align: center;
}
.padding_set{
  padding: 0px;
}
.size_font{
  font-size: 12px;
  width: auto;
}
.btn-outline-secondary{color:#6c757d;border-color:#6c757d}
.btn-outline-secondary:hover{color:#fff;background-color:#6c757d;border-color:#6c757d}
.btn-outline-secondary.focus,.btn-outline-secondary:focus{box-shadow:0 0 0 .2rem rgba(108,117,125,.5)}
.btn-outline-secondary.disabled,.btn-outline-secondary:disabled{color:#6c757d;background-color:transparent}
.btn-outline-secondary:not(:disabled):not(.disabled).active,.btn-outline-secondary:not(:disabled):not(.disabled):active,.show>
.btn-outline-secondary.dropdown-toggle{color:#fff;background-color:#6c757d;border-color:#6c757d}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-secondary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(108,117,125,.5)}

.comment_right{
  margin-left: 10%;
}
.hr_ch{
  margin-top: 0;
}
.chat_comment_icon {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  50px;       /* ※縦横を同値に */
  height: 50px;       /* ※縦横を同値に */
  margin-right: 20px;
  margin-left: 10px;
}
.ul_ch, .ol_ch {
  padding: 0;
  position: relative;
}

.ul_ch .li_ch, .ol_ch .li_ch {
  color: #5a646d;
  border-left: solid 6px #5a646d;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}