{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- タイトル -->
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">


    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">



    <style type="text/css">
        body {
            margin-top: 64px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .drawer-hamburger {
            z-index: 9998;
            padding: 20px;
        }

        .drawer-overlay {
            z-index: 9997;
        }

        .drawer-nav {
            z-index: 9999;
        }

        .drawer-menu li {
            padding: 10px;
        }

        .navbar-default {
            background: #fff;
        }

        .navbar-header {
            text-align: center;
            float: none;
        }

        .navbar-brand {
            float: none;
            height: 64px;
            padding: 20px 14px;
            display: inline-block;
        }

        .navbar>.container .navbar-brand,
        .navbar>.container-fluid .navbar-brand {
            margin: 0;
        }
    </style>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.drawer').drawer();
            });
        </script>

    {% block head %}{% endblock %}
</head>

<body>
    
        <div class="entry-content">
            
            <header>
                <div class="drawer drawer--left">
                    <!-- スライドメニュー -->
                    <button type="button" class="drawer-toggle drawer-hamburger">
                        <span class="sr-only">toggle navigation</span>
                        <span class="drawer-hamburger-icon"></span>
                    </button>
                    <nav class="drawer-nav">
                        <ul class="drawer-menu">
                            <li class="drawer-dropdown"> <a href="#" data-toggle="dropdown" aria-expanded="false">カテゴリー別 いいね順 <span class="drawer-caret"></span></a>
                                <ul class="drawer-dropdown-menu">
                                    {% for category in category_list %}
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=good&category={{ category.id }}">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="drawer-dropdown"> <a href="#" data-toggle="dropdown" aria-expanded="false">年代別 いいね順 <span class="drawer-caret"></span></a>
                                <ul class="drawer-dropdown-menu">
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=good&byage=lt20">20才未満</a></li>
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=good&byage=20">20代</a></li>
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=good&byage=30">30代</a></li>
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=good&byage=40">40代</a></li>
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=good&byage=50">50代</a></li>
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=good&byage=ov60">60代以上</a></li>
                                </ul>
                            </li>
                            <li class="drawer-dropdown"> <a href="#" data-toggle="dropdown" aria-expanded="false">カテゴリー別 新規投稿順 <span class="drawer-caret"></span></a>
                                <ul class="drawer-dropdown-menu">
                                    {% for category in category_list %}
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=new&category={{ category.id }}">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="drawer-dropdown"> <a href="#" data-toggle="dropdown" aria-expanded="false">年代別 新規投稿順 <span class="drawer-caret"></span></a>
                                <ul class="drawer-dropdown-menu">
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=new&byage=lt20">20才未満</a></li>
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=new&byage=20">20代</a></li>
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=new&byage=30">30代</a></li>
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=new&byage=40">40代</a></li>
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=new&byage=50">50代</a></li>
                                    <li><a href="{% url 'app_fabla:post-sort' %}?order=new&byage=ov60">60代以上</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'app_fabla:congressman' %}">議員</a></li>
                        </ul>
                    </nav>
                    
                    <!-- スライドメニュー　ここまで -->
                </div>

                <div class="wrapper">
                    <!-- nav bar -->
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header"> <a class="navbar-brand"
                                    href="{% url 'app_fabla:index' %}">Fabla</a>
                                <ul class='nav navbar-nav navbar-right'>
                                    {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link"
                                            href="{% url 'app_fabla:profile' request.user.pk %}">プロフィール</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                                    </li>
                                    <li class="nav-item {% block active_login %}{% endblock %}">
                                        <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                    </nav>
                    <!-- nav bar ここまで -->
                    {% block header %}{% endblock %}
                </div>
            </header>
            
        </div><!-- .entry-content -->

        <main>
            {% block contents %}{% endblock %}
        </main>
        
        {% block bodybottom %}{% endblock %}
        

        <!-- Footer -->
        <footer class="py-5 bg-white">
            <div class="container">
                <p class="m-0 text-center text-black help-block">Copyright &copy; Fabla 2022</p>
            </div>
            <!-- /.container -->
        </footer>
        <!-- Footer ここまで-->



</body>

</html>