{% extends 'base.html' %}

{% load static %}

{% block title %}議員と市民を繋ぐ|Fabla{% endblock %}

{% block active_post_list %}active{% endblock %}

{% block contents %}
<section>
    <div class="container">
        <div class="starter-template text-center py-5 px-3">
            <div class="row">
                <div class="my-div-style w-100">
                    <div class="col-lg-8 col-md-10 mx-auto">

                        {% for chat in object_list %}
                        <div class="post-preview">
                            <a href="{% url 'app_fabla:chat' chat.pk %}">
                                <h2 class="post-title">
                                    {{ chat.post_id }}
                                </h2>
                            </a>
                        </div>
                        <hr>
                        {% empty %}
                        <p>まだチャットがありません。</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}