{% extends 'base.html' %}

{% load static %}

{% block title %}code input{% endblock %}


{% block contents %}
    <div id="code_div">
        <h1>送信されたコードを入力して下さい。(半角数字4文字)</h1>
        {% if messages %}
            <ul class="messages_ul">
                {% for message in messages %}
                    <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="textbox" name="code_num" maxlength="4" required>
            <input type="submit" id="button" name="button" value="送信">
        </form>
    </div>

{% endblock %}