{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-9">
                {{ object.title }}
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <strong>写真</strong>
            </div>
            <div class="">
                {% if object.photo1 %}
                    <img src="{{ object.photo.url }}"width="50"height="50"/>
                {% endif %}
            </div>
            <div class="">
                {% if object.photo1 %}
                    <img src="{{ object.photo.url }}"width="50"heigth="50"/>
                {% if object.photo2 %}
                    <img src="{{ object.photo.url }}"width="50"heigth="50"/>
                {% if object.photo3 %}
                    <img src="{{ object.photo.url }}"width="50"heigth="50"/>
            </div>
        </div>
    </div>
</div>