{% extends 'base.html' %}

{% load static %}

{% block contents %}

{% for fabla in object_list %}
<div class="kakomi-smart2">
    <div class="list-preview">
        {% if fabla.icon_photo %}
            <img class = 'cong_icon' src="{{ fabla.icon_photo.url }}" width="50" height="50"/>
        {% endif %}
        <a href="#">
        <p class="list-name">
            {{ fabla.user_name }}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">

            </a>
        </p>
        <h3 class="list-bio">
            {{ fabla.bio|truncatechars:10 }}
        </h3>
        </a>
    </div>
</div>
{% endfor %}

{% endblock %}