<!-- base.htmlをもとにしてページを作成する為の宣言 -->
{% extends 'base.html' %}
{% load static %}
<!-- title を入力 -->
{% block title %}議員と市民を繋ぐ | Fabla{% endblock %}

{% block contents %}

<section>

    <div class="container">
        <div class="starter-template text-center py-5 px-3">
            <h1>Fabla</h1>
            <p class="lead">市民と議員を繋ぐ掲示板</p>
            <h2>掲示板</h2>
            <p class="lead">自分たちも地域の政策に関わる事ができます</p>
            <h2>チャット</h2>
            <p class="lead">議員と直接、自分の投稿についてやり取りが出来ます</p>
            <h2>既読</h2>
            <p class="lead">議員が投稿を閲覧した場合、誰が閲覧したのか明確です</p>
            <h2>いいね</h2>
            <p class="lead">いいなと思った投稿にいいねを押すことが出来ます</p>
            <h2>ランキング</h2>
            <p class="lead">いいねのランキング順に投稿が表示されます。</p>
        </div>

    </div><!-- /.container -->

</section>

{% endblock %}
<!-- <!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>トップページ</title>
    </head>
    <body>
        <h1>Hello World</h1>
    </body>
</html> -->