{% extends 'base.html' %}

{% load static %}

{% block title %}議員と市民を繋ぐ|Fabla{% endblock %}
<!-- このタブは -->
{% block active_post_list %}active{% endblock %}
{% block contents %}
<div class="container">
    <div class="starter-template text-center py-5 px-3">
        <h2>{{ order_by }}順</h2>
        <h3>{{ search_by }}の投稿</h3>
        {% for post in post_list %}
        <div class="post-preview">
            <a href="{% url 'app_fabla:post_detail' post.pk %}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                    {{ post.contents|truncatechars:20 }}
                </h3>
            </a>
            <p class="post-meta">{{ post.created_at }}</p>
            {{ post.good_set.count }}
        </div>
        <hr>
        {% empty %}
        <p>まだ投稿がありません。</p>
        {% endfor %}
        <!-- gitテスト -->
    </div>
</div>
{% endblock %}