{% extends 'base.html' %}

{% block contents %}

<div calss="articles-outer">
    <div class="post">
        <h2>{{ post.title }}</h2>
        <h2>{{ post.category_no }}</h2>
        <h2>{{ post.content }}</h2>
        <h2>{{ post.photo }}</h2>
        <h2>{{ post.created_at }}</h2>
        <div class="like-outer">
            {% include 'like.html' %}
            <!-- <a class="btn btn-success mt-5 mb-3" href="{% url 'app_fabla:post_report' post.pk %}">通報</a> -->
            <div class="popup_content">
                <label for="trigger" class="close_btn">×</label>
                <form action="{% url 'app_fabla:post_report' post.pk %}" method="post">
                <button  class="btn btn-outline-success float-right" type="submit" name="button">通報</button>
                {% csrf_token %}
                </form>                   
            </div>
            

        </div>
        <hr>
    </div>
</div>
<!-- いいね機能に関する記述 -->
<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'app_fabla:like' %}",
                data: {
                    'article_id': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                    selector = document.getElementsByName(response.article_id);
                    if(response.liked){
                        $(selector).html('<i class="far fa-heart"></i>');
                    }
                    else {
                        $(selector).html('<i class="far fa-heart"></i>');
                    }
                    selector2 = document.getElementsByName(response.article_id + "-count");
                    $(selector2).text(response.count);
                }
            });
        });
    });
</script>
<!-- ここまでがいいね機能に関する記述 -->




{% endblock %}