{% extends 'base.html' %}

{% load static %}

{% block contents %}

<link href="{% static 'css/postlist.css' %}" rel="stylesheet">

<img class="poimg" src="{{ customuser.icon_photo.url }}">


        <h2>{{ customuser.user_name }}<br>

    <class="post-preview">
        <h2>{{ customuser.user_name }}
            {{ customuser.icon_photo }}<br>
            {{ customuser.bio }}
        </h2>

        <button><a href="{% url 'app_fabla:profile_edit' request.user.pk %}">編集</a></button>
        <li><a href="{% url 'app_fabla:post_list' %}">投稿履歴</a></li>
        <li><a href="{% url 'app_fabla:good-history' %}">いいね履歴</a></li>
    </div>

{% endblock %}